{% extends 'base.html' %} {% block content %}



<div class="shoppingCart">

  <div class="itemContainer">

  <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h5 class="fw-bold mb-0 text-black">Кошик</h5>

                    <p class="mb-0 text-muted">{{item.quantity}}</p>
                  </div>
                  <hr class="my-4">
        {% for item in cart.cartitems.all %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{item.product.picture.url}}"
                        class="img-fluid rounded-3" alt="{{item.product.name}}">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{item.product.name}}</h6>

                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="{{item.quantity}}" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <p  class="fw-bold">${{item.product.price}}</p>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
{% endfor %}
                  <hr class="my-4">





                  <div class="pt-5">
                    <h6 class="mb-0"><a href="{% url 'index' %}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Продовжити вибір товарів</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h5 class="fw-bold mb-5 mt-2 pt-1">Summary</h5>
                  <hr class="my-4">



                  <h6 class="text-uppercase mb-3">Доставка</h6>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Доставка кур'єром</option>
                      <option value="2">Нова Пошта</option>
                      <option value="3">Самовивіз</option>
                    </select>
                  </div>

                  <h6 class="text-uppercase mb-3">Промокод</h6>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Введіть свій промокод</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                      <p class="fw-bold">Разом</p>
                      <p class="fw-bold">${{cart.total_price}}</p>
                  </div>
 <div class="pay-section">
                  <button type="button" onclick = "makePayment()" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Оформити замовлення</button>
 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>



<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>

let cart_total = "{{cart.total_price}}"
let cart_id = "{{cart.id}}"


  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-PUBLIC KEY",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: cart_total,
      currency: "USD",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "http://127.0.0.1:8000/confirm_payment/"+cart_id,
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "rose@unsinkableship.com",
        phone_number: "08102909304",
        name: "{{request.user.username}}",
      },
      customizations: {
        title: "My Shop",
        description: "Buy with ease",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }

</script>


{% endblock content %}

